@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(css/reset.css);
@import url(css/header.css);
@import url(css/home-page.css);
@import url(css/about-me.css);
@import url(css/info-section.css);
@import url(css/work-exp.css);
@import url(css/footer.css);
/* Работает в Firefox */

body{
  margin-top: 60px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
}

.button-wrap{
  max-width: 400px;
  margin: 30px auto;
}

.Contacts {
  box-shadow: 0 4px 10px 0 #000;
  background: #000;
  border-radius: 103px;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px;
  color: white;
  transition: all 0.5s ease;
}

.Contacts:hover{
  opacity: 0.8;
}



.button-to-page {
  background: #fff;
  display: block;
  max-width: 392px;
  width: 100%;
  text-align: center;
  border-radius: 100px;
  padding: 12px 0;
  transition: all 0.5s ease;
}

.button-to-page:hover{
  opacity: 0.7;
}

.video {
  width: 440px;
  height: 255px;
  border: 1px solid #404040;
}

.white {
  color: #fff;
}

.black {
  color: #000000;
}

.bold {
  font-weight: 700;
}
.regular {
  font-weight: 400;
}

.title-40px {
  font-weight: 700;
  font-size: 40px;
}

.title-bold-900 {
  font-weight: 900;
  font-size: 64px;
}
.title-bold-400 {
  font-weight: 400;
  font-size: 64px;
}
.text-normal {
  font-size: 28px;
}
